<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <h1>Deleting the Webpage</h1>
            
            <label for="n">Name</label>
            
            <select name="n" id="n">
                {% for wo in webpages %}
                    <option value="{{wo}}">{{wo.name}}</option>
                {% endfor %}

            </select>
            
            <br>
            <input type="submit" value="delete_data">

        </form>
    </center>
</body>
</html>